@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#page{
    width: 100%;
}
#nav{

background-color: #f4f5e1;
overflow: hidden;
padding: 3vh;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 6px solid #302744cc ;
}
#logo-img{
    width: 29vh;
    height: 26vh;

}
#burger-img{
    height: 100%;
    width: 100%;
}
#links{
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

}
.link-swap{
    display: flex;
    gap: 2vw;
}

.link-swap > a {
    text-decoration: none;
    font-size: 2vw;
    color: #302744;
    font-family: 'Montserrat', sans-serif;
}
#nav-burger{
    position: fixed;
    top:20px;
    right: 3vw;
    display: flex;

}
#burger-btn{
    display: none;
    height: 8vh;
    width: 8vh;
    border-radius: 5px;
}
#hamburger{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 65vw;
    background-color: whitesmoke;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #302744;
    border-radius: 5px;
}
#hamburger > a{
    font-size:200%;
    border-bottom: 3px solid #302744;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#302744;
}
#hamburger > a:hover{
    font-style: italic;
}
.ham-hide{
    display: none !important;
    
}
/* ********************************************************************************** */
#quote{
    font-family: 'Montserrat', sans-serif;
    color: #302744;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    text-align: center;
    flex-direction: column;
    gap: 2vh;
}
#quote > h1 {
    font-size: 500%;
}
/* ********************************************************************************** */
#header{
    border-top: 3px solid #302744;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 70vw;
    text-align: center;
    margin: 3vh auto;
}
#header > h1{
    font-size: 5vh;
    font-style: normal;
}
#about{
    display: flex;
    padding: 5vh;
    width: 70vw;
    margin: 0 auto;
}
#about-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
    flex: 2;
    border-right: 3px solid #302744;
}
#about-imgs{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 2vh;
}
#about-text > h2 {
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    font-style:normal;
    background-color: #EAF5E1;
    padding: 20px;
    border-radius: 5px;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-imgs > img {
    width: 90%;
}
/* ********************************************************************************* */
#projects{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#projects > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vh;
    font-style: italic;
    text-align: center;
    color: #302744;
}
#project-list{
    border-top:3px solid #302744;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    padding: 5vh 0;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 2vh;
    background-color: #f5ece1;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid #302744;
    border-right: 2px solid #302744;
    font-family: 'Montserrat', sans-serif;
    min-width: 200px;
    max-width: 300px;
}
.project:hover{
    background-color: #f4f5e1;
    cursor:pointer
}
.project-img > img {
    height: 10vh;
    width: 10vh;
}
.project-img{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex:1;
    padding-bottom: 10px;;
}
.project-title{
    flex:1;
}
/* ********************************************************************************** */
#skills{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    font-style: normal;
    text-align: center;
    color: #302744;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5vh auto;
}
#skills > h2 {
    font-style: italic;
}
#skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
.skill-svg{
    width: 100px;
}
/* ********************************************************************************** */
#contact{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    background-color:#EAF5E1;
    padding: 2vw;
    font-family:'Montserrat', sans-serif;
    border-radius: 5px;
    margin-bottom: 2vh;
    color:#302744;
}
#contact-form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex: 2;
    padding-right: 5vw;
    border-right: 3px solid #302744;
}
#contact-form > label {
    text-decoration: underline;
    font-weight: bolder;
}
#contact-info{
    flex:2;
    padding-left: 5vw;
    overflow-wrap:break-word;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.form-input{
    height: 3vh;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    padding: 3px;
}
#submit-message{
    background-color:#f5ece1;
    padding: 2vh 0;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}
#contact-svgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    flex-wrap: wrap;
    margin: 2vh 0;
}
.contact-svg:hover{
    transform: scale(1.2);
    cursor:pointer;
}
.pointer{
    cursor:pointer;
}
/* ********************************************************************************** */
@media(width<1300px){
    .link-swap{
        display: none;
    }
    #burger-btn{
        display: flex;
    }
    #header > h1{
        font-size: 4vw;
    }
    #header{
        width: 70vw;
    }
    #links{
        justify-content: space-between;
        gap: 5vw;
        width: 90vw
    }
    #about{
        width: 90vw;
        flex-direction: column;
        padding: 10px 0px;
    }
    #quote > h1 {
        font-size: 7vw;
    }
    #about-text{
        border: none;
        width: 100%;
        font-size: 100%;
    }
    #about-imgs > img{
        max-width: 400px;
    }
    .ham-hide{
        display: none !important;
        max-height: 0px !important;
        border: none !important;
    }

}
@media(width<500px){
    #about-text > h2 {
        font-size: 100%;
        width: 80%;
    }
    #about-imgs > img{
        max-width: 250px;
        margin-top: 10px;
    }
    #header{
        width:90vw;
    }
    #header > h1{
        font-size: 150%;
    }
    .skill-svg{
        width: 50px;
    }
    .project{
        max-width: 50px;
    }
    .project-img > img {
        height: 10vw;
        width: 10vw;
    }
    .ham-hide{
        display: none !important;
        max-height: 0px !important;
        border: none !important;
    }
    #contact{
        width: 90vw;
    }
    
}
